/*We adjust the page and us flex to group the sections of page*/
body{
    display: flex;
    flex-direction: column;
    /*--set margin to 0 so the content covers all the viewport---*/
    margin: 0px;
    gap: 10px;
    
}
/*align the content of the page*/
div.container{
    display: flex;
    flex-flow: column wrap;
    /*space between items*/
    gap: 10px;
    align-items: center;
}

/*------This section covers the header of the document
we use row-reverse to separate the navigation and logo------*/
header.container{
    display: flex;
    /*shorthand-direction--wrap*/
    flex-flow: row-reverse wrap;
    background-color: #e3e6e4;
    /*align header items logo and navbar*/
    align-items: baseline;
    justify-content: space-between;
    /*Dont roll into the page */
    position: fixed;
    width: 100%;
}
/*We modify the logo*/
#logo{
    font-size:large;
    font-style: oblique;
    font-weight: bold;
}

/*----This section goes for the main-----*/


/*----This section goes for the about-----*/
span.container{
    display: flex;
    gap: 10px;
}
section{
    border: 1px solid black;
    width: 80%;
    padding: 0px 30px;
    
}

/*----This section goes for the portfolio-----*/
/*Move the content when selected*/
section.portfolio:hover{
    background-color: aqua;
    transition-duration: 4s;

}


/*------This section goes for the footer------*/
/* We us flex to separate our articles and add some color */
footer.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 200px;
    background-color: gray;


}
/*-------- Footer articles style-------*/
article{
    height: auto;
    width: 20%;
    padding-bottom: 15px;
}
/*item goes bigger and align changes when hover*/
article:hover{
    width: 40%;
    background-color: rgb(150, 147, 147);
}
article>div.container{
    /*hide elements on the article*/
    display: none;

}
article:hover div.container{
     display: flex;
}

/*------Images---------*/
img{
    max-height: 200px;
    height: auto;
    margin-bottom: 15px;
}
/*from about---*/
img.about:hover{
    rotate: 180deg;
    transition-duration: 4s;
}
/*From portfolio*/
img.portfolio{
    width: 200px;
}
img.portfolio:hover{
    width:250px;
    transition-duration: 2s;

}

/*Links*/
a{
    text-decoration: none;
    color: black;
}


